.search {
    display: flex;
    height: 35px;
    width: 450px;
    margin: 10px auto;
    border: 1px solid #888;
    border-radius: 5px;
}
.search .search-input {
    height: 100%;
    width: calc(100% - 35px);
    margin: 0 25px 0 0;
    padding: 0 0 0 10px;
    border-width: 0;
    border-radius: 5px;
}
.search .clear {
    cursor: pointer;
    background: transparent;
    border: none;
    font-size: 20px;
    height: 35px;
    width: 35px;
    margin: 0;
    padding: 0;
}