.Catalogue {
    border-style: solid;
    border-width: 0px;
    border-radius: 5px;
    border-color: black;

    margin: auto;
}

.semester {
    margin: 0 auto 15px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
}
.semester .info {
    margin: auto 10px auto -55px;
}
.semester .subjects {
    height: 34px;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px dashed transparent;
    border-radius: 10px;

    min-width: 250px;
    width: max-content;
}
.semester .editing {
    border-color: #000;
}

.eletivas {
    margin: 0 auto 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    flex-wrap: wrap;
}
.eletivas .info {
    margin: auto 10px auto -145px;
}
.eletivas .subjects {
    padding: 10px;

    display: flex;
    align-items: center;

    border: 1px dashed transparent;
    border-radius: 10px;

    min-width: 250px;
    width: 740px;
    flex-wrap: wrap;
}
.eletivas .editing {
    border-color: #000;
}

.eletivas-remover {
    border: 1px dashed red;
    background: #ffaaaa;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
}
.eletivas-remover.disable {
    border: 1px dashed #666;
    background: #ddd;
}
.eletivas-remover.disable p {
    color: #666;
}

.eletivas-remover .droppable {
    width: 100%;
    height: 100%;
    position: relative;
    top: -25px;

}
.eletivas-remover p {
    color: red;
    height: 20px;
    margin: 0;
    padding: 5px 0 0 0;
}