.Catalogue {
    border-style: solid;
    border-width: 0px;
    border-radius: 5px;
    border-color: black;

    margin: auto;
}

.semester {
    margin: 0 auto 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
}
.semester .info {
    margin: auto 10px auto -55px;
}
.semester .subjects {
    height: 34px;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px dashed transparent;
    border-radius: 10px;

    min-width: 250px;
    width: max-content;
}
.semester .editing {
    border-color: #000;
}