.subject {
    display: inline-table;
    border: 1px solid transparent;
    border-radius: 5px;
    text-align:center;

    box-sizing: border-box;

    height: 100%;
    width: 70px;
    cursor: pointer;

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
.draggable {
    margin: 2px 10px;
}
.subject span {
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
    margin: 0 10px;
}

.popup-content {
    width: 550px !important;
    z-index: 1000;
    border-radius: 8px;
    padding: 5px 10px !important;
}